
.group-8 {
    height: 400px;
    width: 1280px;
  }
  .rectangle-3 {
    height: 400px;
    width: 1280px;
    background: linear-gradient(270deg, #185592 0%, #0096BE 100%);
  }
  .page-1 {
    height: 364px;
    width: 515px;
  }
